<mat-toolbar class="component-form">
  <img src="../assets/litecoin.png" width="30" height="30" />&nbsp;
  <span class="mat-h2" style="margin-top: 18px;">Litecoin P2Pool mining node</span>
  <span style="flex: 1 1 auto"></span>
  <span class="mat-h4" style="margin-top: 18px;">
    {{ minerUrl }}
    -u Your(LTC)PayoutAddress -p x</span>
    &nbsp;
    <a (click)="CopyDirectloadUrl()" routerLink="." matTooltip="Copy URI to Clipboard" [matTooltipPosition]="'below'">
      <mat-icon style="font-size: 0.7em;">content_copy</mat-icon>
    </a>
</mat-toolbar>
<br/>
<div class="component-container-row" *ngIf="globalStats">
  <span>Pool rate: {{(globalStats.pool_hash_rate / 1000000000).toFixed()}}GH/s</span>
  <span style="flex: 1 1 auto"></span>
  <span>Node Fee: {{localStats.fee}}%</span>
</div>
<div class="component-container-row" *ngIf="localStats">
  <span>Shares: {{localStats.shares.total}} total ({{localStats.shares.orphan}} orphaned, {{localStats.shares.dead}} dead) Efficiency: {{localStats.efficiency}}%</span>
  <span style="flex: 1 1 auto"></span>
  <span>Node Donation: {{localStats.donation_proportion}}%</span>
</div>
<div class="component-container" *ngIf="localStats">
  Current block value: {{localStats.block_value}} LTC.
</div>
<div class="component-container" *ngIf="localStats">
  Expected time to block: {{expectedTimeToBlock}} hours
</div>
<br/>
<div class="component-container" *ngIf="localStats">
  <div style="width: 100%; text-align: left; font-weight: bold; margin-bottom: 3px;">
    Active Miners On This Node
  </div>
  <table width="100%">
    <thead style="background-color: #fafafa;">
      <tr>
        <th class="pd-3" style="text-align: left; vertical-align: top;">Address</th>
        <th style="text-align: right; vertical-align: top;" class="pd-3">Hashrate</th>
        <th style="text-align: right; vertical-align: top;" class="pd-3">Difficulty</th>
        <th style="text-align: right; width: 165px; vertical-align: top;" class="pd-3">
          Predicted Payout / Block<br/>
          <span style="font-size: 0.7em; color: silver;">(the most important value)</span>
        </th>
        <th style="text-align: right; width: 135px; vertical-align: top;" class="pd-3">
          Profit / Day<br/>
          <span style="font-size: 0.7em; color: silver;">(theoretically at the moment)</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let workerInfo of workersInfo">
        <td style="text-align: left" class="pd-3">{{workerInfo.Address}}</td>
        <td style="text-align: right; padding-left: 20px;" class="pd-3">{{workerInfo.HashRate}} MH/s</td>
        <td style="text-align: right; padding-left: 20px;" class="pd-3">{{workerInfo.LastDifficult}}</td>
        <td style="text-align: right; padding-left: 20px;" class="pd-3">{{workerInfo.CurrentPayout}}</td>
        <td style="text-align: right; padding-left: 20px;" class="pd-3">{{workerInfo.ProfitOnDay}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="component-container" *ngIf="showRecentBlocks">
  <div style="width: 100%; text-align: left; font-weight: bold; margin-bottom: 3px;">Recent Blocks</div>
  <table width="100%">
    <thead style="background-color: #fafafa;">
      <tr>
        <th class="pd-3" style="text-align: left;">Date/Time</th>
        <th style="text-align: right; width: 135px;" class="pd-3">Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recentBlock of recentBlocks">
      <td style="text-align: left" class="pd-3">{{recentBlock.time}}</td>
      <td style="text-align: right; padding-left: 20px;" class="pd-3">{{recentBlock.number}}</td>
    </tr>
    </tbody>
  </table>
</div>
